[worker]
1.2.3.4 ansible_ssh_user=root ansible_ssh_private_key_file=~/.ssh/id_ed25519

[backend]
1.2.3.4 ansible_ssh_user=root ansible_ssh_private_key_file=~/.ssh/id_ed25519

[global:vars]
src_path=/root/NCKU_NASA_2021_Judge
worker_dest_path=/root/ncku-nasa-2021-judge
backend_dest_path=/www/ncku-nasa-2021-judge
ansible_python_interpreter=auto

[global:children]
worker
backend